.blockedGrid {
    pointer-events: none;
}
.OwnGrid {
    pointer-events: none;
}
.titlesContainer {
    display: flex;
}
h2 {
    flex: 1;
}
.GridContainer {
    display: flex;
    justify-content: space-around;
}
.chatBackground {
    width: auto;
    height: 31vh;
    margin-top: 2vh;
    border: 2px solid;
    background-color: bisque;
}
.inputContainer {
    display: flex;
    position: fixed;
    bottom: 6px;
    width: 100%;
}
.chatField {
    width: 95%;
    height: 2vh;
}
.backgroundMesssages {
    height: 27vh;
    overflow-x: hidden;
    overflow-y: auto;
}