.GridSquare {
  width: 40px;
  height: 40px;
  background-color: rgb(173, 173, 173);
  display: block;
  border: 1px solid black;
  border-radius: 6px;
}
.GridBoat {
  width: 40px;
  height: 40px;
  background-color: rgb(87, 87, 236);
  display: block;
  border: 1px solid black;
  border-radius: 6px;
}
.DeadBoat {
  width: 40px;
  height: 40px;
  background-color: #db4d4d;
  display: block;
  border: 1px solid black;
  border-radius: 6px;
}
.EmptySquare {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: block;
  border: 1px solid black;
  border-radius: 6px;
}

.GridSquare:hover {
  background-color: rgb(101, 101, 101);
}

.GridSquareClicked {
  background-color: black;
  pointer-events: none;
}