.GridSquare {
  width: 40px;
  height: 40px;
  background-color: rgb(173, 173, 173);
  display: block;
  border: 2px solid black;
}
.GridBoat {
  width: 40px;
  height: 40px;
  background-color: navy;
  display: block;
  border: 2px solid black;
}
.DeadBoat {
  width: 40px;
  height: 40px;
  background-color: red;
  display: block;
  border: 2px solid black;
}
.EmptySquare {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: block;
  border: 2px solid black;
}

.GridSquare:hover {
  background-color: rgb(101, 101, 101);
}

.GridSquareClicked {
  background-color: black;
  pointer-events: none;
}