.GridsOfPlayers {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.fadedContent {
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #000;
}
.InstructionsButton {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: white;
    right: 2vw;
    top: 2vw;
    width: 120px;
    height: 4vh;
    border-radius: 6px;
    background: rgb(243, 186, 30);
    border: 2px solid black;
    transition: 0.3s;
    cursor: pointer;
}
.InstructionsButton:hover {
    background: rgb(213, 156, 0);
}

.BackgroundHome {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    height: 100vh;
}
.BackgroundLobby {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    overflow: hidden;
    height: 100vh;
    color: white;
}

.containerHome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.containerHomeGameInputs {
    width: 50vw;
    height: 50vh;
    border-radius: 6px;
    background-color: bisque;
}
.containerOptions{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 20vw;
    height: 2vw;
    border: solid 2px black;
    background: black;
    border-radius: 2px;
}
input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    border: 1px solid black;
    width: 200px;
    height: 4vh;
}
input:focus {
    border: none;
}